<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../public/css/style.css">

        <title>GrayTrades</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('partial/header') %>



        <!-- Chatbox -->
        <a href="https://t.me/GrayTrades" target="_blank"><div class="chatbox"><img src="../public/image/foot/telegram.png" class="img-fluid" alt="" srcset=""></div></a>




        
        <!-- ----------#####---------- Header container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid general-head-section abt-back">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto abt-align">
                            <h1 class="mb-3 gen-heading">About GrayTrades</h1>
                            <p class="normal-txt light-font">
                                We present a modern high-tech business, which is associated primarily with Stocks, Bond and highly productive activity on the multicurrency Forex market.
                            </p>
                            <p class="normal-txt light-font">
                                Our professional team of traders and market analysts is ready to offer the best terms for your daily earnings with reasonable requirements for your investment.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </section>
  
        <!-- Closed ----------#####---------- -->




        
        <!-- ----------#####---------- Top heading container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid testi-con" style="padding-top: 3.75em;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2>Who Are We?</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
  
        <!-- Closed ----------#####---------- -->




        
        <!-- ----------#####---------- First container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid" style="padding-bottom: 1.15em;">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-sm-12 col-lg-5 p-2">
                            <div class="header-right-container head-img">
                                <img src="../public/image/about/abt-1.jpg" alt="About us Image" srcset="" class="img-fluid img-shadow">
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-7">
                            <div>
                                <p class="normal-txt" style="padding-left: 15px;">
                                    GrayTrades does not propose some revolutionary products, but our offer is publicly available, and this is the main advantage of 
                                    our company. Join us and see for yourself how high the quality of our trust management service is. Our experts have extensive 
                                    experience working on financial markets, stock exchanges, and private exchanges. This means there is no risk--all of your money 
                                    is in the hands of professionals who save and multiply it on a daily basis. Simultaneously, we continue to experiment and develop 
                                    our own financial strategies: GrayTrades finds a better use for the money in order to maximize profits. By selecting us, you should 
                                    be fully aware that you are choosing a very safe investment direction and putting your funds in the hands of professional financial 
                                    managers. GrayTrades is opening up new opportunities for professional investors as well and is already working with many of them.
                                </p>
                            </div>
                        </div>    
                        
                        
                    </div>
                </div>
            </section>
  
        <!-- Closed ----------#####---------- -->




        
        <!-- ----------#####---------- Second container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid abt-sec" style="background: #f5f5f5;">
                <div class="container">
                    <div class="row about-inverse align-items-center">

                        <div class="col-sm-12 col-lg-7">
                            <div>
                                <p class="normal-txt" style="padding-right: 15px;">
                                    We also invest our own money with you. It is no secret that many companies today seek funds to engage in high-risk, aggressive trades. However, it 
                                    is not our way. We always share our assets and the risks associated with trading. We offer what we use ourselves. The loss is not just a loss of 
                                    potential income for us; it is a direct financial loss. It means we are your business partners. Every trader and financial analyst has the required 
                                    education or has completed the specialized training courses. The majority of our experts have received training from the New York Stock Exchange. The 
                                    company's management is attempting to increase their knowledge by holding regular seminars and meetings with professors from financial academies and 
                                    colleges to exchange experience and modern trading methods. We plan to update the qualitative direction of investment services. We are prepared to 
                                    provide new investment ideas as well as high-quality products and solutions to our new and loyal clients. Today, our team is pleased with the 
                                    company's market position and growth. However, our plans are always more than our achievements.
                                </p>
                            </div>
                        </div> 

                        <div class="col-sm-12 col-lg-5 p-2 head-img">
                            <div class="header-right-container">
                                <img src="../public/image/about/abt-2.jpg" alt="About us Image" srcset="" class="img-fluid img-shadow">
                            </div>
                        </div>   
                        
                        
                    </div>
                </div>
            </section>
  
        <!-- Closed ----------#####---------- -->




        
        <!-- ----------#####---------- Third container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid abt-sec"">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-sm-12 col-lg-5 p-2 head-img">
                            <div class="header-right-container">
                                <img src="../public/image/about/abt-3.jpg" alt="About us Image" srcset="" class="img-fluid img-shadow">
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-7">
                            <div>
                                <p class="normal-txt" style="padding-left: 15px;">
                                    Goals should always be put ahead of achievements. Now is a good time to intensify work in the investment sector. That is exactly what we intend to do. 
                                    At each stage, we have some specific micro and macro targets. Currently, one of the priorities is online Forex trading. The total number of our active 
                                    investors can measure its effectiveness. This indicator is important for asset management companies such as GrayTrades. It is the amount of assets 
                                    under management. At the same time, we are not resting on our laurels, because once the dream is realized, life comes to an end. Join us today to 
                                    calculate all of the benefits of GrayTrades. Besides, GrayTrades is constantly concerned about the financial security and anonymity of your 
                                    investments. We do not require any verification of your personality, proof of your physical address, telephone number, or anything else. We respect 
                                    your privacy and will never, ever disclose information about you or your deposits. We have anonymous payment systems that we use for both depositing 
                                    and withdrawing profits.
                                </p>
                            </div>
                        </div>    
                        
                        
                    </div>
                </div>
            </section>
  
        <!-- Closed ----------#####---------- -->



        <div class="container-fluid" style="padding: 1.2em;"></div>



        <!-- ----------#####---------- Counter container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid section-general blue-back">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mx-auto last-abt-con">
                            <p class="normal-txt light-font">SCALE UP EASILY</p>
                            <h1 class="mb-3 gen-heading">Protecting Investors' Interests</h1>
                        </div>
                        <div class="col-12">
                            <p class="abt-btn-wrap"><a href="/users/register" class="abt-btn">Create Account</a></p>
                        </div>
                    </div>
                </div>
            </section>
  
        <!-- Closed ----------#####---------- -->


        
        <!-- Footer -->
        <%- include('partial/footer') %>



    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="../public/javascript/jquery.js"></script>
    <script src="../node/bootstrap/dist/js/bootstrap.js"></script>
    
</html>