<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">

        <!-- Bootstrap css link -->
        <link rel="stylesheet" href="../node/bootstrap/dist/css/bootstrap.css">
        <!-- Main css link -->
        <link rel="stylesheet" href="../public/css/style.css">

        <title>GrayTrades</title>
    </head>
    <body>
        <!-- Nav-bar -->
        <%- include('partial/header') %>



        <!-- Chatbox -->
        <a href="https://t.me/GrayTrades" target="_blank"><div class="chatbox"><img src="../public/image/foot/telegram.png" class="img-fluid" alt="" srcset=""></div></a>

        
        
        
        
        
        <!-- ----------#####---------- Header container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid general-head-section rule-back">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto abt-align">
                            <h1 class="mb-3 gen-heading">GrayTrades Rules</h1>
                            <p class="normal-txt light-font">
                                We present a cutting-edge high-tech company that is principally concerned with Stocks, Bond and very profitable activities on the multicurrency Forex market.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Top heading container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid testi-con" style="padding-top: 3.75em;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2>GrayTrades Policy</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->





        <!-- ----------#####---------- Main container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid" style="padding-bottom: 1.15em;">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-1 normal-txt">
                                GrayTrades is a registered member of the Financial Commission and the Securities and Exchange Commission of the United States. The company's 
                                headquarters are at the following address: Maidsville, West Virginia(WV), 26541. The following guidelines govern interactions between 
                                GrayTrades administration and investment project participants (investors). Both parties are bound by these rules.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-2 normal-txt">
                                Anyone over the age of 18 can open an account and become an investor in the project. Profit Guarantee Ltd works with 
                                participants from all around the world with no limits.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-3 normal-txt">
                                Each investor must have his or her own personal @gmail.com account in order to participate in the project.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-4 normal-txt">
                                Regardless of GrayTrades' willingness to honor the user's request to create additional accounts.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-5 normal-txt">
                                Participants have the option of making as many deposits as they want with a single account.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-6 normal-txt">
                                Participants can choose the amount of their deposit based on a minimum requirement of $350.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2 normal-txt">
                            <div class="policy-card-con policy-7">
                                Deposit and withdrawal of profits can be through <span class="font-span"><img src="../public/image/foot/bitcoin.png" alt="" class="footer-icon"> Bitcoin</span>, 
                                <span  class="font-span"><img src="../public/image/foot/btc-cash.png" alt="" class="footer-icon"> Bitcoin-Cash</span>, <span  class="font-span">
                                <img src="../public/image/foot/ethereum.png" alt="" class="footer-icon"> Ethereum</span> and 
                                <span class="font-span"><img src="../public/image/foot/litecoin.png" alt="" class="footer-icon"> Litecoin</span>
                                as the only available payment methods.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 p-2 mx-auto normal-txt">
                            <div class="policy-card-con policy-8">
                                Each investor has a right to get rate of profit according to investment strategy.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 p-2 mx-auto normal-txt">
                            <div class="policy-card-con policy-9">
                                GrayTrades reserves the right to refuse service to any participant in exchange for an obligatory deposit refund.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-10 normal-txt">
                                GrayTrades respects each participant's privacy and only utilizes his personal information for internal purposes. The 
                                company never sells or shares such information with third parties.
                                In rare circumstances, the company will share personal data with the court (if a court order is present).
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-11 normal-txt">
                                GrayTrades does not demand or organize any user identification methods.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-12 normal-txt">
                                GrayTrades agrees to receive deposits, accrue earnings, and make payments in line with the terms of the agreement.
                                with the investment proposition that is now on the table.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-13 normal-txt">
                                GrayTrades maintains the right to amend the terms of cooperation, add new investment plans, or deactivate current ones 
                                without impacting active investors' interests.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-14 normal-txt">
                                GrayTrades has the right to cancel accounts if it discovers explicit or indirect proof of participant fraud.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-15 normal-txt">
                                When a new participant registers, he acknowledges that he has carefully read these rules and agrees to follow them.
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-9 col-lg-6 mx-auto p-2">
                            <div class="policy-card-con policy-16 normal-txt">
                                GrayTrades only has this investment project. The only channel of communication 
                                with clients of the company is http:/GrayTrades.com/.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->



        <div class="container-fluid" style="padding: 1.2em;"></div>



        <!-- ----------#####---------- Dark background container (Section) starts here ----------#####---------- -->
            
            <section class="container-fluid section-general blue-back">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mx-auto last-abt-con">
                            <p class="normal-txt light-font">Are you ready to take your trading to the next level</p>
                            <h1 class="mb-3 gen-heading">A Verified Way To Invest</h1>
                        </div>
                        <div class="col-12">
                            <p class="abt-btn-wrap"><a href="/users/register" class="abt-btn">Create Account</a></p>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Closed ----------#####---------- -->


        
        <!-- Footer -->
        <%- include('partial/footer') %>



    </body>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../public/javascript/script.js"></script>

    <!-- Option 1: Bootstrap Bundle with JQuery -->
    <script src="../public/javascript/jquery.js"></script>
    <script src="../node/bootstrap/dist/js/bootstrap.js"></script>
    
</html>